@{

}
Xin chào <b>@Model.Fullname</b>,

<br/>
Sở Khoa Học Công Nghệ TP. Vũng Tàu xin thông báo quy trình <b>@Model.WorkflowName</b>
<br/>
Giao đoạn <b>@Model.WorkflowStepName</b> đã được duyệt bởi @Model.HoTen 

<br />
<br />
Mọi thông tin thắc mắc hãy liên hệ với Sở. @Model.WorkflowStepName
<br />
<p>Trân trọng,<br/>
    Sở Khoa Học Công Nghệ TP. Vũng Tàu
</p>